<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="footer">
        <div class="container">
            <p><a href="@{/}"> Test Web-Application </a></p>
            <p >&copy 2018 All rights reserved.</p>
            <p>Lorem ipsum dolor sit amet, at nec hinc mundi utroque, vix aeque ancillae verterem ne.
                Fuisset explicari quo at. Te vim similique constituam.
                Ne stet duis urbanitas duo, ea natum lucilius per.</p>
        </div>
    </footer>

</div>