<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="../../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css}"/>
</head>
<body>
<th:block th:each="product:${products}" >
    <a th:href="@{'product/'+${product.id}}"> <p th:text="${product.productName}"/></a>
    <a th:href="@{'productDelete/'+${product.id}}">Delete</a>
    <img th:class="productImage" th:src="${product.pathImage}"/>
    <br/>
</th:block>

</body>
</html>