<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header::header">

</head>
<body>

<div th:class="production_Page">
    <h1>Production Page</h1>
</div>


<th:block th:each="product:${products}" >
    <a  th:class="production_Page" th:href="@{'product/'+${product.id}}"> <p th:text="${product.productName}"/></a>
    <a th:class="production_Page" th:href="@{'productDelete/'+${product.id}}">Delete</a>
    <a th:class="production_Page" th:href="@{'productEdit/'+${product.id}}">Edit</a>
    <img  th:class="productImage" th:src="${product.pathImage}"/>

    <br/>
</th:block>
<div th:replace="layouts/footer::footer"/>

</body>
</html>