html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

.header{
    width: 100%;
    height: 105px;
    background-color: lightslategrey;

}

.contacts{
    background: lime;
    /*width: 25px;*/
    /*height: 25px;*/
}

.logotype {
    display: block;
    margin-left: 200px;
}

.footer {
    width: 95%;
    height: 60px;
    margin-top: 800px;
    background-color: #f5f5f5;
}

.custom-container {
    width: auto;
    max-width: 680px;
    padding:  15px;
}
.custom-container .text-muted {
    margin: 20px 0;
}

.title_position {
    text-align: center;
    font-size: xx-large;
}
.menu-size{
    font-size: 20px;
}

.contact{
    text-align: left;
    width: 0px;
    height: 0px;
    margin-bottom: 0px;


}

.contact2{
    text-align: left;
    width: 0px;
    height: 0px;
    margin-bottom: 0px;
    padding-left: 120px;

}

.access{
    font-style: oblique;
    font-weight: bold;
    background: #333333;
    height: 50px;
    color: #cccccc;
    height: 116px;




}

.registrationAccess{
    margin-left: 950px;
    padding-right: 8px;
    font-style: oblique;
    font-weight: bold;
    color: #cccccc;
}

.authorizationForm{
    color: #cccccc;
}

.production_Page{
    margin-left: 22px;
    font-size: 22px;
}

.indexPage{
    margin-left: 970px;
    padding-top: 70px;
    font-size: 25px;
    color: red;
}

.showProducts{
    margin-left: 220px;
    font-size: 22px;
}

.showUsers{
    font-size: 22px;
    margin-left: 12px;
}

.showCategories{
    font-size: 22px;
    margin-left: 12px;
}

.registration{
    font-size: 22px;
    margin-right: 12px;
    float: right;
}

.registrationForm{
    background: lime;
    text-align: center;
}

.userPhoto{
    width: 250px;
    height: 250px;
}

.userName{
    font-size: 27px;
}

.productImage{
    margin-left: 20px;
    width: 111px;
    height: 111px;
}

.userNameForm{
   margin-left: 72px;
}

.userEmailForm{
    margin-left: 72px;
}

.userPasswordForm{
  margin-left: 43px;
}

.menu{
    list-style-type: none;
    background-color: #232323;
    height: 50px;
    width: 740px;
    margin-left: 555px;
    margin-top: 17px;


}

.picture{
    margin-top: 30px;
    width: 960px;
    height: 360px;
    margin-left: 24px;
    margin-bottom: 50px;
}

.menu a{
    float: left;
    text-align: center;
    padding: 14px 31px;
    text-decoration: none;
    font-size: 14px;
    color: whitesmoke;

}

.menu a:hover{
    color: #737373;
}




.boxIndex{
    width: 1349px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
}


.left{
    width: 235px;
    height: 500px;
    background-color: khaki;
}

.right{
    margin-left: 1000px;
    width: 206px;
    height: 500px;
    background-color: darkkhaki;
}


.login {
    position: center;
    margin-top: 85px;
    margin-left: 480px;
}




.password{
    margin-top: 15px;
}


.buttonSign{
    margin-top: 15px;
}

#homepage{
    width: 960px;
    height: 434px ;
    /*display: block;*/
    line-height: 1.6em;

}

#services{
    padding: 0 0 30px 0;
    border-bottom: 1px solid #DEDEDE;
}

.one_quarter{
    width: 225px;
    height: 142px;
    /*margin-left: 203px;*/
    /*margin-right: 20px;*/
    display: block;
    margin: 0 20px 0 0;
    /*float: left;*/
}

.clear{
    clear: both;
}

figure{
    float: left;
    display: inline;
    margin: 0;
}

p{
    padding: 5px 0 0 0;
}