<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

Brand Admin

<form th:action="@{/saveBrand}" th:object="${eBrand}" method="post"  enctype="multipart/form-data">
    <input type="hidden" th:fields="*{id}"/>
    <input type="text" th:field="*{nameOfBrand}" placeholder="nameOfBrand"/>
    <select>
        <option th:each="country:${countries}">
            <p th:text="${country.countryName}"/></option>
    </select>
    <input type="file" name="brandImage"/>
    <input type="submit" value="save"/>


</form>

</body>
</html>