<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form th:action="@{/saveCategory}" th:method="post" th:object="${eCategory}">
    <input type="hidden" th:field="*{id}"/>
    <input type="text" th:field="*{categoryOfProduct}" placeholder="Category"/>
    <p th:if="${#fields.hasErrors('categoryOfProduct')}" th:errors="*{categoryOfProduct}"/>
    <input type="submit" value="save"/>
    <br/>
    <br/>
    <br/>
    <th:block th:each="category:${categories}">
        <a th:href="@{'category/'+${category.id}}"><p th:text="${category.categoryOfProduct}"/>fdsagegsd</a>
        <a th:href="@{'deleteCategory/'+${category.id}}">Delete</a>
        <a th:href="@{'updateCategory/'+${category.id}}">Update</a>
        <br/>
    </th:block>
</form>


</body>
</html>