<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form th:action="@{/saveCountry}" th:method="post" th:object="${eCountry}">
    <input type="text" name="countryName" placeholder="Country Name"/>
    <p th:if="${#fields.hasErrors('countryName')}" th:errors="*{countryName}" />
    <input type="submit" value="save"/>
    <br/>
    <br/>
    <br/>
    <th:block th:each="country:${countries}">
        <a th:href="@{'country/'+${country.id}}"><p th:text="${country.countryName}"/></a>
        <a th:href="@{'deleteCountry/'+${country.id}}">Delete</a>
        <br/>
        <br/>
    </th:block>
</form>




</body>
</html>