<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

ProductAdmin

<form th:action="@{/saveProduct}"  th:object="${eProduct}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <input type="text" th:field="*{productName}" placeholder="productName"/>
    <input type="text" th:field="*{nameOfBrand}" placeholder="nameOfBrand"/>
    <input type="text" th:field="*{description}" placeholder="description"/>
    <input type="number" th:field="*{price}" placeholder="price"/>
    <input type="number" th:field="*{quantity}" placeholder="quantity"/>
    <input type="file" name="pathImage"/>
    <input type="submit" value="save"/>
</form>
</body>
</html>