<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css}"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
Index
<br/>

<div th:class="boxIndex">
    <div th:class="access">
        <p th:class="contact">+380954202454</p>
        <p th:class="contact2">romansychok@gmail.com</p>
        <a th:class="registrationAccess" th:href="@{/indexNext}">Registration</a>
        <a th:href="@{/login}">Authorization</a>
    </div>
</div>





</div>


</body>
</html>