<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header::header">


</head>
<body>
<div th:class="boxIndex">
<div>
    <div>
        <div th:class="access">
            <p th:class="contact">+380954202454</p>
            <p th:class="contact2">romansychok@gmail.com</p>
            <a th:class="registrationAccess" th:href="@{/register}">Registration</a>
            <a th:class="authorizationForm" th:href="@{/login}">Authorization</a>
            <ul th:class="menu">
                <li><a th:class="active" th:href="@{/products}">products</a></li>
                <li><a th:href="@{/users}">users</a></li>
                <li><a th:href="@{/categories}">categories</a></li>
                <li><a th:href="@{/login}">login</a></li>
                <li><a th:href="@{/categoryAdmin}">Category</a></li>
                <li><a th:href="@{/productAdmin}">product</a></li>
            </ul>
        </div>
    </div>

        <img th:class="picture" th:src="@{picture/idea.jpg}" />


    <!--<div>-->
            <!--<th:block th:each="product:${products}">-->
            <!--<a  th:class="production_Page" th:href="@{'product/'+${product.id}}"> <p th:text="${product.productName}"/></a>-->
                <!--<img  th:class="productImage" th:src="${product.pathImage}"/>-->
            <!--</th:block>-->
    <!--</div>-->



    <div id="homepage">
        <section id="services">
        <article class="one_quarter">
            <figure>
                <img th:src="@{picture/FacebookGIF.png}" width="32" height="32" >
            </figure>
            <strong id="sociaty">Facebook Store</strong>
            <p class="socialText">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
            <p class="more">
                <a th:href="@{https://www.facebook.com/}">Read More</a>
            </p>

        </article>
            <article class="second_quarter">
                <figure>
                    <img th:src="@{picture/instagramGIF.png}" width="32" height="32" >
                </figure>
                <strong id="sociaty">Instagram</strong>
                <p class="socialText">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                <p class="more">
                    <a th:href="@{https://www.instagram.com}">Read More</a>
                </p>
            </article>

            </article>
            <article class="second_quarter">
                <figure>
                    <img th:src="@{picture/OLXGIF.png}" width="32" height="32" >
                </figure>
                <strong id="sociaty">OLX</strong>
                <p class="socialText">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                <p class="more">
                    <a th:href="@{https://www.olx.ua/}">Read More</a>
                </p>
            </article>
        </section>
        <hr class="hrDifference"/>

        ////////////////////////
        <section id="mainImages">
            <th:block th:each="product:${productsIndex}" >
                <a  th:class="production_Page" th:href="@{'product/'+${product.id}}"> <p th:text="${product.productName}"/></a>
                <img  th:class="productImage" th:src="${product.pathImage}"/>

                <br/>
            </th:block>

        </section>

    </div>



</div>
<div th:replace="layouts/footer::footer"/>
</div>
</body>
</html>